/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
    overflow-x: hidden;
}

.bg-home{
    background-image: url('../src/assets/Images/bghome.svg');
    background-repeat: repeat-x;
}

.ansh{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.review-slider-container {
    overflow: hidden;
  }
  
  .review-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling in iOS */
    scroll-behavior: smooth; /* Enables smooth scrolling */
  }
  
  .review-box {
    flex: 0 0 auto;
    margin-right: 10px; /* Adjust as needed */
    width: 300px; /* Adjust as needed */
  }
  